<%- include("partials/header") -%>
<h1>ABOUT</h1>
<p>"Daily blogs is a leading cloud-based development platform with millions of users worldwide. <br>
    We make it easy for everyone to create a beautiful, professional web presence. <br>
    Promote your business, showcase your art, set up an online blog or just test out new ideas. <br>
    This website has everything you need to create a fully personalized, high-quality free blog website.
</p>
<%- include("partials/footer") -%>